.dark
  .ck-editor
    filter: invert(1) contrast(80%)
  .ck.ck-editor__main>.ck-editor__editable.ck-focused
    border-color: var(--gray-500) !important
  .modal-content
    filter: invert(1) contrast(0.85)
    .btn
      filter: invert(1)

.dark-mode
  filter: invert(1) contrast(75%)
  //--primary: rgb(135,61,82)
  img, .no-dark-mode
    filter: invert(1) contrast(100%)
