@import 'vars';

@import "bootstrap";

#app {
  height: 100vh;
  font-family: $font-family-sans-serif;
  display: flex;
  overflow-x: hidden;
}

\:root {
  --white: #fff;
  --primary-hover: hsl(212, 38%, 54.5%);
  --primary-active: hsl(212, 38%, 52%);
  --primary-rgb: 120, 194, 173;
  --primary-light: hsla(212, 38%, 62%, 0.5);
  --link: hsl(212, 38%, 62%);
  --link-hover: hsl(212, 38%, 52%);
  --background: #fff;
  --sidebar-background: #fff;
  --light: #f8f9fa;
  --light-hover: #eee;
  --light-active: #eee;
  --gray-400: #ced4da;
  --gray-500: #aaa;
  --gray-700: #5a5a5a;
  --gray-800: #343a40;
}
::selection {
  background-color: var(--primary);
  color: #fff;
}
.top-border {
  border-top: 1px solid var(--light-hover);
}
@import "reassign";
@import "fixed";
@import "ck-editor";
@import "nav";
@import "header";

@import "animate";
@import "typography";
@import "btn";

@import "collapse";
@import "dark";

@import "media";
